.pokemon-card
    display: flex
    flex-direction: column
    font-family: "Signika", arial, sans-serif
    border
    margin: 10px
    place-items: center
    width: 215px

    &__image
        background: #F2F2F2

    &__number,
    &__name
        padding: 0 10px

    &__number
        color: #919191
        font-size: 20px
        padding-top: 2px

    &__name
        color: #313131
        font-size: 145%
        margin: 0.5 em 0 5px

    &__types
        display: flex

    &__type
        background: green
        border-radius: 3px
        float: left
        font-size: 17px
        line-height: 10px
        margin: 0 10px 
        max-width: 110px
        padding: 10px
        text-align: center
        width: 40%