<div class="pokemon-card">
    <div class="pokemon001">
        <div class="pokemon-card__image">
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="Bulbasaur Image">
        </div>
        Nº 001
        <div class="pokemon-card__number">

        </div>

        <div class="pokemon-card__name">
            Bulbasaur
        </div>

        <div class="pokemon-card__types">
            <div class="pokemon-card__type pokemon-card__type--grass">Grass</div>
            <div class="pokemon-card__type pokemon-card__type--poison">Poison</div>
        </div>

        <div class="pokemon002">
            <div class="pokemon-card__image">
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/002.png" alt="Ivysaur Image">
            </div>
            Nº 002
            <div class="pokemon-card__number">

            </div>

            <div class="pokemon-card__name">
                Ivysaur
            </div>

            <div class="pokemon-card__types">
                <div class="pokemon-card__type pokemon-card__type--grass">Grass</div>
                <div class="pokemon-card__type pokemon-card__type--poison">Poison</div>
            </div>
        </div>
    </div>

    <div class="pokemon-card__image">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/003.png" alt="Venosaur Image">
    </div>
    Nº 003
    <div class="pokemon-card__number">

    </div>

    <div class="pokemon-card__name">
        Venosaur
    </div>

    <div class="pokemon-card__types">
        <div class="pokemon-card__type pokemon-card__type--grass">Grass</div>
        <div class="pokemon-card__type pokemon-card__type--poison">Poison</div>
    </div>